/***************
* NAVIGATION SPECIFIC CSS
***************/

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 1rem 2rem 0.5rem 2rem;

  position: relative;
}

.city-wrapper {
  flex-grow: 1;
  outline: none;
  text-align: center;
  height: 40px;
}
.nav-item {
  display: inline-block;
  cursor: pointer;
  color: lightgrey;
  position: relative;
  width: auto;
  font-family: Helvetica;
  font-weight: lighter;
}

.nav-item:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.selected .nav-item:after {
  width: 100%;
  background-color: black;
}

.nav-item:hover {
  color: lightblue;
}

.selected .nav-item {
  color: black;
  transition: 0.5s ease-in-out;
}

#selected-bar {
  display: none;
}

@media only screen and (min-width: 640px) {
  #navigation {
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
  }
  #selected-bar {
    display: inline-block;
    position: absolute;
    border-bottom: 1px solid black;
    bottom: -1px;
    transition: 0.5s ease;
  }
  .nav-item:after {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #navigation {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

/***************
* TIME CLOCK SPECIFIC CSS
***************/

#clock-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 2rem;
}

#time-clock {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  color: lightgreen;
  background-color: black;
  padding: 0.5rem;
}

#hours:after {
  content: ":";
}

.time-prefix {
  padding-right: 1rem;
}

#am-pm {
  padding-left: 5px;
}
